.side_bar_top
  .side_bar_user
    %p.side_bar_name
    %ul.side_bar_menu
      %li.side_bar_menu_new_group
        = link_to"#",class:"a"do
          = icon('fa', 'edit',class: 'icon')
      %li.side_bar_menu__edit_user
        = link_to"#",class:"a"do
          = icon('fa', 'cog',class: 'icon')